In [56]:
#Dependencies
import pandas as pd
import datetime as dt

In [57]:
#Import the CSVs

storms_18 = pd.read_csv("data files/Storms_2018.csv")
storms_19 = pd.read_csv("data files/Storms_2019.csv")
storms_20 = pd.read_csv("data files/Storms_2020.csv")

storms_18.head()

/Users/nickcresta/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (21,22,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,episode_id,event_id,state,state_fips_code,event_type,cz_type,cz_fips_code,cz_name,wfo,event_begin_time,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,121394,729396,New mexico,35,drought,Z,528,FAR NORTHEAST HIGHLANDS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121394,729392,New mexico,35,drought,Z,521,SANDIA/MANZANO MOUNTAINS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,121394,729393,New mexico,35,drought,Z,519,ALBUQUERQUE METRO AREA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,121394,729395,New mexico,35,drought,Z,527,RATON RIDGE/JOHNSON MESA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121394,729394,New mexico,35,drought,Z,520,LOWER RIO GRANDE VALLEY,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
#Merging the Data

storm_merge1 = pd.merge(storms_18, storms_19, how = "outer")
storm_merge1.head()

,episode_id,event_id,state,state_fips_code,event_type,cz_type,cz_fips_code,cz_name,wfo,event_begin_time,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,121394,729396,New mexico,35,drought,Z,528,FAR NORTHEAST HIGHLANDS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121394,729392,New mexico,35,drought,Z,521,SANDIA/MANZANO MOUNTAINS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,121394,729393,New mexico,35,drought,Z,519,ALBUQUERQUE METRO AREA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,121394,729395,New mexico,35,drought,Z,527,RATON RIDGE/JOHNSON MESA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121394,729394,New mexico,35,drought,Z,520,LOWER RIO GRANDE VALLEY,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
storm_merge = pd.merge(storm_merge1, storms_20, how = "outer")

storm_merge.head()

/Users/nickcresta/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/pandas/core/reshape/merge.py:1117: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

,episode_id,event_id,state,state_fips_code,event_type,cz_type,cz_fips_code,cz_name,wfo,event_begin_time,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,121394,729396,New mexico,35,drought,Z,528,FAR NORTHEAST HIGHLANDS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121394,729392,New mexico,35,drought,Z,521,SANDIA/MANZANO MOUNTAINS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,121394,729393,New mexico,35,drought,Z,519,ALBUQUERQUE METRO AREA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,121394,729395,New mexico,35,drought,Z,527,RATON RIDGE/JOHNSON MESA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121394,729394,New mexico,35,drought,Z,520,LOWER RIO GRANDE VALLEY,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
storm_merge.columns

Index(['episode_id', 'event_id', 'state', 'state_fips_code', 'event_type',
       'cz_type', 'cz_fips_code', 'cz_name', 'wfo', 'event_begin_time',
       'event_timezone', 'event_end_time', 'injuries_direct',
       'injuries_indirect', 'deaths_direct', 'deaths_indirect',
       'damage_property', 'damage_crops', 'source', 'magnitude',
       'magnitude_type', 'flood_cause', 'tor_f_scale', 'tor_length',
       'tor_width', 'tor_other_wfo', 'location_index', 'event_range',
       'event_azimuth', 'reference_location', 'event_latitude',
       'event_longitude', 'event_point'],
      dtype='object')

In [61]:
#Drop NaN columns
storms_merge = storm_merge.drop(columns = ['state_fips_code','cz_type', 'cz_fips_code', 'cz_name', 'source', 'magnitude',
       'magnitude_type', 'flood_cause', 'tor_f_scale', 'tor_length',
       'tor_width', 'tor_other_wfo', 'location_index', 'event_range',
       'event_azimuth', 'reference_location', 'event_latitude',
       'event_longitude', 'event_point'])

storms_merge.head(20)

,episode_id,event_id,state,event_type,wfo,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops
0,121394,729396,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
1,121394,729392,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
2,121394,729393,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
3,121394,729395,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
4,121394,729394,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
5,121394,729380,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
6,121394,732681,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
7,121394,732677,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
8,121394,729399,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
9,121394,729398,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
10,121394,729400,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
11,121394,732678,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
12,121394,732680,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
13,121394,729403,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
14,121394,729401,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
15,121394,729402,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
16,121394,729381,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
17,121394,729404,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
18,121394,729379,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
19,121394,729374,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0

In [62]:
#Converting to a legible datetime format

storms_merge['event_begin_time'] = pd.to_datetime(storms_merge['event_begin_time'])
storms_merge['event_end_time'] = pd.to_datetime(storms_merge['event_end_time'])

In [63]:
#Extract the Month from both
storms_merge['event_month'] = storms_merge['event_begin_time'].dt.month

In [64]:
#Extract the Year from both
storms_merge['event_year'] = storms_merge['event_begin_time'].dt.year

storms_merge.head()

,episode_id,event_id,state,event_type,wfo,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,event_month,event_year
0,121394,729396,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
1,121394,729392,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
2,121394,729393,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
3,121394,729395,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
4,121394,729394,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018

In [65]:
storms_merge = storms_merge.dropna()
storms_merge.shape

(133161, 16)

In [66]:
storms_merge = storms_merge.drop(columns = ['event_begin_time','event_end_time'])

storms_merge.head()

,episode_id,event_id,state,event_type,wfo,event_timezone,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,event_month,event_year
0,121394,729396,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
1,121394,729392,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
2,121394,729393,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
3,121394,729395,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
4,121394,729394,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018

In [34]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(storms_merge['state'])
encoded_state = label_encoder.transform(storms_merge['state'])

label_encoder = LabelEncoder()
label_encoder.fit(storms_merge['event_type'])
encoded_event_type = label_encoder.transform(storms_merge['event_type'])

label_encoder = LabelEncoder()
label_encoder.fit(storms_merge['wfo'])
encoded_wfo = label_encoder.transform(storms_merge['wfo'])

label_encoder = LabelEncoder()
label_encoder.fit(storms_merge['event_timezone'])
encoded_event_timezone = label_encoder.transform(storms_merge['event_timezone'])

encoded_event_timezone.shape

(133161,)

In [ ]:
# create variables
dropped_df = storms_merge.drop(columns=['damage_property', 'state', 'event_type', 'wfo', 'event_timezone'])

dropped_df['state'] = encoded_state
dropped_df['event_type'] = encoded_event_type
dropped_df['wfo'] = encoded_wfo
dropped_df['event_timezone'] = encoded_event_timezone

In [72]:
X = dropped_df
y = storms_merge['damage_property'].values.reshape(-1, 1)
X

,episode_id,event_id,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_crops,event_month,event_year,state,event_type,wfo,event_timezone
0,121394,729396,0,0,0,0,0.0,1,2018,44,8,0,6
1,121394,729392,0,0,0,0,0.0,1,2018,44,8,0,6
2,121394,729393,0,0,0,0,0.0,1,2018,44,8,0,6
3,121394,729395,0,0,0,0,0.0,1,2018,44,8,0,6
4,121394,729394,0,0,0,0,0.0,1,2018,44,8,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170282,151697,913993,0,0,0,0,0.0,7,2020,16,34,83,2
170283,151697,913989,0,0,0,0,0.0,7,2020,16,34,83,2
170284,151697,913991,0,0,0,0,0.0,7,2020,16,34,83,2
170285,151697,913992,0,0,0,0,0.0,7,2020,16,34,83,2
170286,151697,913995,0,0,0,0,0.0,7,2020,16,34,83,2

In [73]:
# train-test, split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [74]:
y_train.shape

(99870, 1)

In [75]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [76]:

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [77]:

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)

LinearRegression()

In [80]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

/Users/nickcresta/opt/anaconda3/envs/PythonAdv/lib/python3.6/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

0.7891321978913219

In [82]:
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.41639748360211937, 'event_id'),
 (0.14570630373731944, 'event_type'),
 (0.13103365737429093, 'episode_id'),
 (0.11689995482323326, 'wfo'),
 (0.07667524360951021, 'state'),
 (0.047038895645616564, 'event_month'),
 (0.029826384601746612, 'event_timezone'),
 (0.017576712146475767, 'damage_crops'),
 (0.008883768240081694, 'event_year'),
 (0.004547329108978507, 'injuries_direct'),
 (0.0027888735860089812, 'deaths_direct'),
 (0.0015774211375218367, 'injuries_indirect'),
 (0.0010479723870968074, 'deaths_indirect')]