In [1]:
#Dependencies
import pandas as pd
import datetime as dt

In [2]:
#Import the CSVs

storms_18 = pd.read_csv("data files/Storms_2018.csv")
storms_19 = pd.read_csv("data files/Storms_2019.csv")
storms_20 = pd.read_csv("data files/Storms_2020.csv")

storms_18.head()

C:\Users\marcu\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (21,22,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,episode_id,event_id,state,state_fips_code,event_type,cz_type,cz_fips_code,cz_name,wfo,event_begin_time,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,121394,729396,New mexico,35,drought,Z,528,FAR NORTHEAST HIGHLANDS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121394,729392,New mexico,35,drought,Z,521,SANDIA/MANZANO MOUNTAINS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,121394,729393,New mexico,35,drought,Z,519,ALBUQUERQUE METRO AREA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,121394,729395,New mexico,35,drought,Z,527,RATON RIDGE/JOHNSON MESA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121394,729394,New mexico,35,drought,Z,520,LOWER RIO GRANDE VALLEY,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Merging the Data

storm_merge1 = pd.merge(storms_18, storms_19, how = "outer")
storm_merge1.head()

,episode_id,event_id,state,state_fips_code,event_type,cz_type,cz_fips_code,cz_name,wfo,event_begin_time,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,121394,729396,New mexico,35,drought,Z,528,FAR NORTHEAST HIGHLANDS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121394,729392,New mexico,35,drought,Z,521,SANDIA/MANZANO MOUNTAINS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,121394,729393,New mexico,35,drought,Z,519,ALBUQUERQUE METRO AREA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,121394,729395,New mexico,35,drought,Z,527,RATON RIDGE/JOHNSON MESA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121394,729394,New mexico,35,drought,Z,520,LOWER RIO GRANDE VALLEY,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
storm_merge = pd.merge(storm_merge1, storms_20, how = "outer")

storm_merge.head()

C:\Users\marcu\.conda\envs\PythonData\lib\site-packages\pandas\core\reshape\merge.py:1113: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,episode_id,event_id,state,state_fips_code,event_type,cz_type,cz_fips_code,cz_name,wfo,event_begin_time,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,121394,729396,New mexico,35,drought,Z,528,FAR NORTHEAST HIGHLANDS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121394,729392,New mexico,35,drought,Z,521,SANDIA/MANZANO MOUNTAINS,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,121394,729393,New mexico,35,drought,Z,519,ALBUQUERQUE METRO AREA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,121394,729395,New mexico,35,drought,Z,527,RATON RIDGE/JOHNSON MESA,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121394,729394,New mexico,35,drought,Z,520,LOWER RIO GRANDE VALLEY,ABQ,2018-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
storm_merge.columns

Index(['episode_id', 'event_id', 'state', 'state_fips_code', 'event_type',
       'cz_type', 'cz_fips_code', 'cz_name', 'wfo', 'event_begin_time',
       'event_timezone', 'event_end_time', 'injuries_direct',
       'injuries_indirect', 'deaths_direct', 'deaths_indirect',
       'damage_property', 'damage_crops', 'source', 'magnitude',
       'magnitude_type', 'flood_cause', 'tor_f_scale', 'tor_length',
       'tor_width', 'tor_other_wfo', 'location_index', 'event_range',
       'event_azimuth', 'reference_location', 'event_latitude',
       'event_longitude', 'event_point'],
      dtype='object')

In [6]:
#Drop NaN columns
storms_merge = storm_merge.drop(columns = ['state_fips_code','cz_type', 'cz_fips_code', 'cz_name', 'source', 'magnitude',
       'magnitude_type', 'flood_cause', 'tor_f_scale', 'tor_length',
       'tor_width', 'tor_other_wfo', 'location_index', 'event_range',
       'event_azimuth', 'reference_location', 'event_latitude',
       'event_longitude', 'event_point'])

storms_merge.head(20)

,episode_id,event_id,state,event_type,wfo,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops
0,121394,729396,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
1,121394,729392,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
2,121394,729393,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
3,121394,729395,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
4,121394,729394,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
5,121394,729380,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
6,121394,732681,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
7,121394,732677,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
8,121394,729399,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
9,121394,729398,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
10,121394,729400,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
11,121394,732678,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
12,121394,732680,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
13,121394,729403,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
14,121394,729401,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
15,121394,729402,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
16,121394,729381,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
17,121394,729404,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
18,121394,729379,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0
19,121394,729374,New mexico,drought,ABQ,2018-01-01 00:00:00,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0

In [7]:
#Converting to a legible datetime format

storms_merge['event_begin_time'] = pd.to_datetime(storms_merge['event_begin_time'])
storms_merge['event_end_time'] = pd.to_datetime(storms_merge['event_end_time'])

In [8]:
#Extract the Month from both
storms_merge['event_month'] = storms_merge['event_begin_time'].dt.month

In [9]:
#Extract the Year from both
storms_merge['event_year'] = storms_merge['event_begin_time'].dt.year

storms_merge.head()

,episode_id,event_id,state,event_type,wfo,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,event_month,event_year
0,121394,729396,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
1,121394,729392,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
2,121394,729393,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
3,121394,729395,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
4,121394,729394,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018

In [10]:
storms_merge = storms_merge.dropna()
storms_merge.head()

,episode_id,event_id,state,event_type,wfo,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,event_month,event_year
0,121394,729396,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
1,121394,729392,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
2,121394,729393,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
3,121394,729395,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018
4,121394,729394,New mexico,drought,ABQ,2018-01-01,MST-7,2018-01-31 23:59:00,0,0,0,0,0.0,0.0,1,2018

In [11]:
storms_merge = storms_merge.drop(columns = ['event_begin_time','event_end_time'])

storms_merge.head()

,episode_id,event_id,state,event_type,wfo,event_timezone,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,event_month,event_year
0,121394,729396,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
1,121394,729392,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
2,121394,729393,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
3,121394,729395,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018
4,121394,729394,New mexico,drought,ABQ,MST-7,0,0,0,0,0.0,0.0,1,2018